<!-- <% var i=0  %>
<% var j=0  %> -->
<% include template/body1 %>
<div id = "container">
    <!-- header starts here-->
<div id="container_inner_header">
    <% include template/header %>
</div>
<div id ="container_inner">

    <!-- nav starts here-->
<div id="container_inner_nav">
<div id="container_inner_nav-inner">
<% include template/nav %>
</div>
</div>
    <!-- content starts here -->
<div id = "container_inner_content">
<div id ="container_inner_content-inner">
       <div class="container-inner-frame" id="container-inner-frame1">
          <div class="container-inner-frame-inner">
            <div class="container-inner-image" id="container-inner-image1">
              <img class="image1" src="image/maytinh.jpg">
            </div>
            <div class="container-inner-list">
              <div class="container-inner-title">
                <div class="container-inner-title1">
                  <p>Danh mục máy tính</p>
                  <hr>
                <ul>
                  <li><a href="#">Máy tính Dell</a></li>
                  <li><a href="#">Máy tính Asus</a></li>
                  <li><a href="#">Máy tính HP</a></li>
                  <li><a href="#">Máy tính Lenovo</a></li>
                  <li><a href="#">Máy tính Macbook</a></li>
                
                </ul>
                </div><br>
                <img src="https://cdn.trangcongnghe.com/uploads/posts/2017-09/ghi-chu-vao-lich-don-gian-va-dep-mat-tren-may-tinh-voi-desktop-calendar_1.jpg" width="180px" height="250px">
              </div>
              <div class="container-inner-listimage">
                <div class="container-inner-listimage1">
                  <% MayTinh.forEach((data)=>{%>
                    
                   
                          <div class="wrapper-image">
                  <%if(user){%>
                              <a href="/sp/sp/<%-data._id%>*<%-user.username%>">  <img src="image/<%= data.image %>" alt="" width="180px" height="180px"></a><br>
                              <span class ="ten" id = "ten-1"><%= data.name%></span><br>
                             <span class ="gia" id = "gia-1"><%= data.price%></span><hr>
                   <%}else{%>
                    <a href="/sp/sp/<%-data._id%>*">  <img src="image/<%= data.image %>" alt="" width="180px" height="180px"></a><br>
                   <span class ="ten" id = "ten-1"><%= data.name%></span><br>
                    <span class ="gia" id = "gia-1"><%= data.price%></span><hr> 

                    <%}%>
                          </div>
           
                       
                  
                  <% }) %>
                </div>
              </div>
            </div>
          </div>
       </div>
       <div class="container-inner-frame" id="container-inner-frame1">
        <div class="container-inner-frame-inner">
          <div class="container-inner-image" id="container-inner-image1">
            <img class="image1" src="image/chuot.jpg">
          </div>
          <div class="container-inner-list">
            <div class="container-inner-title">
              <div class="container-inner-title1">
                <p>Danh mục chuột</p>
                <hr>
              <ul>
                <li><a href="#">Chuột Dell</a></li>
                <li><a href="#">Chuột Asus</a></li>
                <li><a href="#">Chuột HP</a></li>
                <li><a href="#">Chuột Lenovo</a></li>
                <li><a href="#">Chuột Macbook</a></li>
              
              </ul>
              </div>
              <br>
              <img src="https://img.alicdn.com/imgextra/i3/2561980151/TB2.AlMcgRkpuFjy1zeXXc.6FXa_!!2561980151.jpg" width="180px" height="250px">
            </div>
            <div class="container-inner-listimage">
              <div class="container-inner-listimage1">
                <% Chuot.forEach((data)=>{%>
                  
                        <div class="wrapper-image">
                <%if(user){%>
                            <a href="/sp/sp/<%-data._id%>*<%-user.username%>">  <img src="image/<%= data.image %>" alt="" width="180px" height="180px"></a><br>
                            <span class ="ten" id = "ten-1"><%= data.name%></span><br>
                          <span class ="gia" id = "gia-1"><%= data.price%></span><hr>
                 <%}else{%>
                  <a href="/sp/sp/<%-data._id%>*">  <img src="image/<%= data.image %>" alt="" width="180px" height="180px"></a><br>
                <span class ="ten" id = "ten-1"><%= data.name%></span><br>
                 <span class ="gia" id = "gia-1"><%= data.price%></span><hr> 

                  <%}%>
                        </div>
         
                     
                
                <% }) %>
              </div>
            </div>
          </div>
        </div>
     </div>

     <div class="container-inner-frame" id="container-inner-frame1">
      <div class="container-inner-frame-inner">
        <div class="container-inner-image" id="container-inner-image1">
          <img class="image1" src="image/banphim.png">
        </div>
        <div class="container-inner-list">
          <div class="container-inner-title">
            <div class="container-inner-title1">
              <p>Danh mục Bàn phím</p>
              <hr>
            <ul>
              <li><a href="#">Bàn phím Dell</a></li>
              <li><a href="#">Bàn phím Asus</a></li>
              <li><a href="#">Bàn phím HP</a></li>
              <li><a href="#">Bàn phím Lenovo</a></li>
              <li><a href="#">Bàn phím Macbook</a></li>
            
            </ul>
            </div>
            <br>
            <img src="https://bizweb.dktcdn.net/thumb/large/100/210/976/products/1-b80c8ac0-92a1-47c1-9119-c98f72a24215.jpg?v=1527144439730" width="180px" height="250px">
          </div>
          <div class="container-inner-listimage">
            <div class="container-inner-listimage1">
              <% Banphim.forEach((data)=>{%>
                
               
                      <div class="wrapper-image">
              <%if(user){%>
                          <a href="/sp/sp/<%-data._id%>*<%-user.username%>">  <img src="image/<%= data.image %>" alt="" width="180px" height="180px"></a><br>
                          <span class ="ten" id = "ten-1"><%= data.name%></span><br>
                        <span class ="gia" id = "gia-1"><%= data.price%></span><hr>
               <%}else{%>
                <a href="/sp/sp/<%-data._id%>*">  <img src="image/<%= data.image %>" alt="" width="180px" height="180px"></a><br>
              <span class ="ten" id = "ten-1"><%= data.name%></span><br>
               <span class ="gia" id = "gia-1"><%= data.price%></span><hr> 

                <%}%>
                      </div>
       
                   
              
              <% }) %>
            </div>
          </div>
        </div>
      </div>
   </div>

   <div class="container-inner-frame" id="container-inner-frame1">
    <div class="container-inner-frame-inner">
      <div class="container-inner-image" id="container-inner-image1">
        <img class="image1" src="image/tainghe.jpg">
      </div>
      <div class="container-inner-list">
        <div class="container-inner-title">
          <div class="container-inner-title1">
            <p>Danh mục Tai nghe</p>
            <hr>
          <ul>
            <li><a href="#">Tai nghe Bluetooth</a></li>
            <li><a href="#">Tai nghe Asus</a></li>
            <li><a href="#">Tai nghe HP</a></li>
            <li><a href="#">Tai nghe Lenovo</a></li>
            <li><a href="#">Tai nghe Macbook</a></li>
          
          </ul>
          </div>
          <br>
                <img src="https://vn-live-02.slatic.net/original/962fc5d9cc27e9a100f5254376d59209.jpg" width="180px" height="250px">
        </div>
        <div class="container-inner-listimage">
          <div class="container-inner-listimage1">
            <%  Tainghe.forEach((data)=>{%>
              
             
                    <div class="wrapper-image">
            <%if(user){%>
                        <a href="/sp/sp/<%-data._id%>*<%-user.username%>">  <img src="image/<%= data.image %>" alt="" width="180px" height="180px"></a><br>
                        <span class ="ten" id = "ten-1"><%= data.name%></span><br>
                      <span class ="gia" id = "gia-1"><%= data.price%></span><hr>
             <%}else{%>
              <a href="/sp/sp/<%-data._id%>*">  <img src="image/<%= data.image %>" alt="" width="180px" height="180px"></a><br>
            <span class ="ten" id = "ten-1"><%= data.name%></span><br>
             <span class ="gia" id = "gia-1"><%= data.price%></span><hr> 

              <%}%>
                    </div>
     
                 
            
            <% }) %>
          </div>
        </div>
      </div>
    </div>
 </div>

 <div class="container-inner-frame" id="container-inner-frame1">
  <div class="container-inner-frame-inner">
    <div class="container-inner-image" id="container-inner-image1">
      <img class="image1" src="image/ocung.jpg">
    </div>
    <div class="container-inner-list">
      <div class="container-inner-title">
        <div class="container-inner-title1">
          <p>Danh mục Ổ cứng</p>
          <hr>
        <ul>
          <li><a href="#">Ổ cứng SSD Dell</a></li>
          <li><a href="#">Ổ cứng SSD Asus</a></li>
          <li><a href="#">Ổ cứng HHD HP</a></li>
          <li><a href="#">Ổ cứng HHD Lenovo</a></li>
          <li><a href="#">Ổ cứng HHD Macbook</a></li>
        
        </ul>
        </div>
        <br>
            <img src="http://bco.vn/images/201104/goods_img/89_P_1303876306934.jpg" width="180px" height="250px">
      </div>
      <div class="container-inner-listimage">
        <div class="container-inner-listimage1">
          <% Ocung.forEach((data)=>{%>
            
           
                  <div class="wrapper-image">
          <%if(user){%>
                      <a href="/sp/sp/<%-data._id%>*<%-user.username%>">  <img src="image/<%= data.image %>" alt="" width="180px" height="180px"></a><br>
                      <span class ="ten" id = "ten-1"><%= data.name%></span><br>
                    <span class ="gia" id = "gia-1"><%= data.price%></span><hr>
           <%}else{%>
            <a href="/sp/sp/<%-data._id%>*">  <img src="image/<%= data.image %>" alt="" width="180px" height="180px"></a><br>
          <span class ="ten" id = "ten-1"><%= data.name%></span><br>
           <span class ="gia" id = "gia-1"><%= data.price%></span><hr> 

            <%}%>
                  </div>
   
               
          
          <% }) %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<span>
<% include template/popup %>
</span>
<span>
  <% include listuseronline %>
  </span>
    <!-- footer starts here-->
<div id = "container_inner_footer">
<% include template/footer %>
</div>
</div>
<% include template/body2 %>
