
<!doctype html>

<html>
    <head>
        <title>
            app read books
        </title>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/jqurey.js"></script>
        <script src="/js/chucnang.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/footer.css" type="text/css" >   
        <link rel="stylesheet" href="/css/template.css" type="text/css" >  
        <link rel="stylesheet" href="/css/body.css" type="text/css" >  
        <link rel="stylesheet" href="/css/DinhDang.css" type="text/css" >  
        <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" > 
        <link rel="stylesheet" href="/css/header.css" type="text/css" > 
        <style>
   #user1:hover #user1-option {
		display: block;
	}
	
	#user1-option {
        display: none;
		margin-left:805px;
		padding-top:4px;
		margin-left: 82%;
    }
    #preview{
	height: 80px;
    width: 80px;
    background: rgb(233, 222, 222); 
	display: table;
	position: relative;
    color: #fff;
	top:-82px;
	right:-100px;
    }
p {
  height: 80px;
  width: 80px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
        </style>
    </head>
    <body>
<div id = "container">
    <!-- header starts here-->
	<!-- HEADER STARTS HERE -->


	<!-- HEADER STARTS HERE -->
 <%include template/header%>
                   <!-- HEADER ENDS HERE -->

               <!-- HEADER ENDS HERE -->

<div id ="container_inner">
    <!-- nav starts here-->
<div id="container_inner_nav">
<div id="container_inner_nav-inner">

</div>
</div>

<% if(errors) {%>
    <ul>
        <% errors.forEach(function(err) {%>
            <li class ="register-validator"><%= err.msg %></li>
            <%})%>
    </ul>
 <% } %>
    <!-- content starts here -->
    <div class="title-sp">
       <label id ="tab1">Thông tin tài khoản của bạn</label>
       <label id ="tab2">Sản phẩm</label>
       <label id ="tab3">Danh sách theo dõi</label>
       <label id ="tab4">Danh sách người theo dõi</label>
      </div><hr>
      <div id ="thongtin">
       
                    <% if(kq.length==0){%>
                     <h2>Không tìm thấy thông tin </h2>
                  <% } else {  kq.forEach((data)=>{%>
                    <input id = "tenuser" type="text" value="<%-user.username%>" hidden >
                   
                    <form method="POST" action="/user/modifier/<%-data.username%>" enctype="multipart/form-data" >
                    <table id="info-user">
                    <tr><td ><label class="user-in"><img src="/upload/<%= data.avatar%>" width="80px" height="80px"></label><span id="shop"><%= data.username%></span></td><td> <%if(!checkfollow){%>
                        <img id = "follow" src ="/imagei/unfollow.png" width="40px" height="40px">
                        <span id ="theodoi" style="color: rgb(177, 174, 171)"> Theo dõi</span><br>
                        <%}else{%>
    
                            <img id = "follow" src ="/imagei/follow.png" width="40px" height="40px">
                            <span id ="theodoi" style="color:blue"> Đã theo dõi</span><br>
    
                        <%}%>
                
                    </td> </tr>
                    <tr><td><b>First Name:</b></td><td><label class="user-in"><%= data.firstname%></label></td></tr>
                    <tr><td><b>Last Name:</b></td><td> <label class="user-in"><%= data.lastname%></label></td> </tr>
                    <tr><td><b>Email:</b></td><td><label class="user-in"> <%= data.email%></label></td> </tr>   
                    <tr><td><b>Số điện thoại:</b></td><td><label class="user-in"><%= data.PhoneNumber%></label></td> </tr>
                    <tr><td><b>Địa chỉ:</b></td><td><label class="user-in"><%= data.address%></label></td> </tr>
                    <tr><td><b>Thành Phố:</b></td><td><label class="user-in"><%= data.city%></label></td> </tr>
                </table>
                        <% })} %>
                    </form>
      </div>
      <div id="sanpham">
            <div class="container-inner-listimage-user">
               <% if(sp.length==0){%>
                <h2><%-kq[0].username%> chưa đăng sản phẩm nào </h2>

              <%}else{ sp.forEach((data)=>{%>
                      <div class="wrapper-image1">
                          <a href="/sp/sp/<%-data._id%>*<%-kq[0].username%>">  <img src="/image/<%= data.image %>" alt="" width="180px" height="180px"></a><br>
                          <span class ="ten" id = "ten-1"><%= data.name%></span><br>
                          <div class="stars">
                            <form action="">
                              <input class="star star-5" id="star-5" type="radio" name="star" checked/>
                              <label class="star star-5" for="star-5"></label>
                              <input class="star star-4" id="star-4" type="radio" name="star"/>
                              <label class="star star-4" for="star-4"></label>
                              <input class="star star-3" id="star-3" type="radio" name="star"/>
                              <label class="star star-3" for="star-3"></label>
                              <input class="star star-2" id="star-2" type="radio" name="star"/>
                              <label class="star star-2" for="star-2"></label>
                              <input class="star star-1" id="star-1" type="radio" name="star"/>
                              <label class="star star-1" for="star-1"></label>
                            </form>
                          </div><br>
                         <span class ="gia" id = "gia-1"><%= data.price%></span>
                      </div>
              <% }) %>
           <%}%>
          </div>

      </div>
<div id="theo-doi">
<table class="theo-doi">
    <%if(follow.length==0){%>
        <h2><%-kq[0].username%> chưa theo dõi ai </h2>
  <%}else{follow.forEach(function(data){%>
     <tr><td><label style="width: 50px;height: 50px;border-radius: 30px solid black"><img class="user-avatar" src="/upload/<%-data.avatar%>" width="50px" height="50px" ></label></td><td><a href="/user/other/<%-data.username%>&&<%-user.username%>"><%-data.username%></a></td></tr>
    <%})%>
<%}%>
</table>


</div>
<div id="duoc-theo-doi">
    <table class="duoc-theo-doi">
        <%if(followed.length==0){%>
            <h2><%-kq[0].username%> chưa được ai chưa theo dõi </h2>
      <%}else{followed.forEach(function(data){%>
         <tr><td><label style="width: 50px;height: 50px;border-radius: 30px solid black"><img class="user-avatar" src="/upload/<%-data.avatar%>" width="50px" height="50px" ></label></td><td><a href="/user/other/<%-data.username%>&&<%-user.username%>"><%-data.username%></a></td></tr>
        <%})%>
    <%}%>
    </table>
    
    
    </div>
</div>
    <!-- footer starts here-->
<div id = "container_inner_footer">
<% include template/footer %>
</div>
</div>
<% include template/body2 %>
