<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MOKI</title>
    <link rel="stylesheet" href="/css/themsanpham.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/template.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      img {
        width: 150px;
        height: 150px;
      }
    </style>
</head>
<body>
    	<!-- HEADER STARTS HERE -->
<div id="header">
    <div id="header-inner">
        <div id="header-inner1">

                <div id = "header-inner1-left">
                        <div id="phone_support">
                                <i class="fa fa-phone" aria-hidden="true"></i> Hotline: <span>1900</span> <span>636</span> <span>779</span>
                             </div>
                    </div>

                <div id = "header-inner1-right">
                        <ul>
                                <% if(!user){ %>
                                    <li>
                                        <a href="#" >Sản phẩm giảm giá  |  </a>
                                    </li>
                                    <li>
                                        <a href="#" >Sản phẩm mới  |  </a>
                                    </li>
                                    <li>
                                        <a href="#" >Sản phẩm khuyến mại  |  </a>
                                    </li>
                              
                                  <li>
                                    <a href="/login" >Đăng nhập  |  </a>
                                </li>
                                <li>
                                      <a href="/register" >Đăng kí</a>
                                  </li>
                                  
                                  <%}%>
                                  <% if(user) {%>
                                      <li>
                                          <a href="/themsanpham" >Thêm sản phẩm  |  </a> 
                                      </li>
                                      <li>
                                            <a href="/listproduct/<%-user.username%>" >Sản phẩm đăng  |  </a>
                                        </li>
                                        <li>
                                          <a href="/befollowList/<%-user.username%>" >Người theo dõi  |  </a>
                                      </li>
                                      <li>
                                         <a href="/followList/<%-user.username%>" >Theo dõi  |  </a>
                                     </li>
                                      <li>
                                            <a href="/likeList/<%-user.username%>" >Đã thích  |  </a>
                                        </li>
                                      <li>
                                          <a href="/logout/<%-user.username%>">Đăng xuất  |  </a>
                                      </li>
                                      <li id = "user">
                                       
                                        <a ><i class="fa fa-user"></i>Hello: <%- user.username%></a>
                                        <ul id="user-option">
                                             <li><a href="/user/changePassword">Thay đổi mật khẩu</a></>
                                             <li><a href="/userinformation/<%-user.username%>">Thông tin tài khoản</a></li>
                                       </ul>
                                    </li>
                                      <%}%>
                            </ul>
                </div>
        </div>

        <div id="header-inner2">
            <div id="header-inner2-left">
                    <div id = "header-inner2-left-image">
                            <a href="/">  <img id="image-moki" src ="https://moki.vn/moki/themes/img/logo_big.png" alt ="Moki.vn - Ứng dụng mua bán trên di động | moki.vn" class = "image" > </a>
                          </div>
            </div>

            

            <div id="header-inner2-right">
                <div id="header-inner2-right-1">
                        <div id="header-inner2-right-search">
                                <form action="/search" method="POST" class="header-inner2-form" id="ProductsSearchProductForm" role="search">
                                    <input class="header-inner2-form-input" type="search" placeholder="Tìm kiếm sản phẩm"  value="" name="product_name" id="product_name" required="" >
                                    <input type="radio" name="searchUser"><label>Tìm kiếm Username &nbsp&nbsp </label>
                                    <button class="header-inner2-form-button" type="submit">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                        
                                    </button>
                                </form>
                              </div>
                </div>
                <div id="header-inner2-right-2" class="wrapper-nav">
                        <nav class="nav-main">
                   <div id="header-inner2-right-2-inner">
                        <span class="header-inner2-link"><a href="/"> TRANG CHỦ</a></span>
                    <span class="header-inner2-link"><a href="#"> LỊCH SỬ</a></span>
                    <span class="header-inner2-link"><a href="#"> VOUCHER GIẢM GIÁ</a></span>
                        <span id ="header1-inner2-icon">
                                <a href="https://www.facebook.com/moki.vn" target="_blank"> <i class = "fa fa-facebook-square"></i></a>
                                <a href="https://www.youtube.com/channel/UCM7dLGfHJ6onxoY3StztfwQ/" target="_blank"> <i class = "fa fa-youtube-square"></i></a>
                                <a href="https://twitter.com/MOKI_VN" target="_blank"> <i class = "fa fa-twitter"></i></a>
                                <a href="https://www.instagram.com/moki.vn/" target="_blank"> <i class = "fa fa-instagram"></i></a>
                                <a href="https://www.instagram.com/moki.vn/" target="_blank"> <i class = "fa fa-skype"></i></a>
                                <a href="https://www.instagram.com/moki.vn/" target="_blank"> <i class = "fa fa-globe"></i></a>
                              </s>
                   </div>
                   </nav>
                </div>
            </div>
        </div>

    </div>
</div><br><br><br>
               <!-- HEADER ENDS HERE -->
      <div class="row">
        <div class="column side" id="menuleft">
          <div id="sidebar">
            <ul>
                <li><a class="active" href="/">Trang chinh</a></li>
                <li><a href="#news">Tài khoản</a></li>
                <li><a href="#about">Sản phẩm</a></li>
                <li><a href="#contact">Hỗ trợ bán hàng</a></li>
                <li><a href="#about">Trung tâm hỗ trợ</a></li>
                <li><a href="#about">Quản lý bán hàng</a></li>
                <li><a href="#about">Shop</a></li>
             </ul>
         </div>
        </div>

        <div class="column middle">
          <% if(err){ %>
            <% err.forEach(function(error){%>
          <ul style="list-style: none;">
            <li><%- error.msg%></li>
          </ul>
          <%})%>
            <%}%>
            <div id="wrapper-addsp">
                <div class="container">
                    <div class="row">
                      <div class="wrapper-image1">
                        <h1 class="text-center display-4 my-4">Thêm ảnh</h1>
                        <form action="/upload" method="POST" enctype="multipart/form-data">
                          <div class="custom-file mb-3">
                            <input type="file" name="file" id="file" class="custom-file-input">
                           
                          </div>
                          <input type="submit" value="Submit" class="btn-primary">
                        </form>
                        <hr>
                        <% if(files){ %>
                          <% files.forEach(function(file) { %>
                            <div class="card card-body mb-3">
                              <% if(file.isImage) { %>
                                <img src="image/<%= file.filename %>" alt="">
                                <% } else { %>
                                  <%= file.filename %>
                                    <% } %>
                                      <form method="POST" action="/files/<%= file._id %>?_method=DELETE">
                                        <button class="btn btn-danger btn-block mt-4">Delete</button>
                                      </form>
                            </div>
                            <% }) %>
                              <% } else { %>
                                <p>No files to show</p>
                                <% } %>
                      </div>
                    </div>
            </div>
            <form action="/themsanpham" method="POST">
            <div class="add">
               
                <div style="display:inline;">
                <div style="display:flex;">
                    <p id="name">Tên sản phẩm</p>
                    <input type="text" id ="textinput" name ="nameproduct">
               </div> 
               <div style="display:flex;">
                   <p id = "description">Mô tả sản phẩm</p>
                   <textarea cols="50" rows="50" id="textarea" name="describleproduct"></textarea>
               </div>
               <div style="display: flex">
                   <p>Miễn phí</p>
                   <label class="switch" id="switch1">
                        <input type="checkbox" unchecked name="bargainproduct1">
                        <span class="slider round"></span>
                    </label>
               </div>
               <div style="display: flex" >
                    <p>Cho phép mặc cả</p>
                    <label class="switch" id="switch2">
                            <input type="checkbox" unchecked name="bargainproduct2">
                            <span class="slider round"></span>
                    </label>
                </div><br>
                <div>
                    <div id="list">Danh mục</div>
                    <div class="custom-select" >
                        <select name="attached">
                                <option value="Máy tính">Laptop</option>
                                <option value="Chuột">Chuột</option>
                                <option value="Bàn phím">Bàn phím</option>
                                <option value="Ổ cứng">Ổ cứng</option>
                                <option value="Tai nghe">Tai nghe</option>
                        </select>
                    </div>
                </div>
                <div>
                    <div id="nhanhieu">Nhãn hiệu</div>
                    <div class="custom-select" >
                         <select name="label">
                                 <option value="Asus">Asus</option>
                                 <option value="Dell">Dell</option>
                                 <option value="HP">HP</option>
                                 <option value="Lenovo">Lenovo</option>
                                 <option value="Acer">Acer</option>
                         </select>
                </div>
                <div>
                   <div id="khoiluong">Khối lượng</div>
                   <div class="custom-select" >
                         <select name="weight">
                              <option value="0.5kg đến 1kg">0.5kg đến 1kg</option>
                              <option value="1kg đến 2kg">1kg đến 2kg</option>
                              <option value="3kg đến  4kg ">3kg đến  4kg </option>
                              <option value="4kg đến 5kg ">4kg đến 5kg </option>
                              <option value="trên 5kg">trên 5kg</option>
                         </select>
                   </div>
                </div>
                <div>
                  <div id="trangthai">Trạng thái </div>
                  <div class="custom-select" >
                    <select name="state">
                         <option value="Còn mới">Còn mới</option>
                         <option value="Đã qua sử dụng">Đã qua sử dụng</option>
                    </select>
                  </div>
                  </div>
                    <div style="display:flex;">
                     <p id = "gia">Giá</p>
                     <input type="number" id="giatext" name="price">
                    </div>
                  </div>
                  <br>
                  <div style="display:flex">
                    <div>
                        <input type="text" value="<%= user.username%>" name ="nameuser" hidden>
                        <input  id="add" class="button button3" type="submit" name="Thêm sản phẩm" value="Thêm sản phẩm" >
                    </div>
                    <div>
                        <input  class="button button3" type="submit" name="Quay lại" value="Quay lại" >
                    </div>
                  </div>
            </div>
            </div>
          </form>
        
          </div>
        </div>

        <div class="column side"></div>
      </div>
     
      <% include template/footer %>
    
      <script src="/js/themsanpham.js"></script>
      <script src="/js/jqurey.js"></script>
</body>
<script>
function uploadimage(){
 $("#taianh").attr("src",$("#ta").val());
}
</script>
</html> 