
<!doctype html>

<html>
    <head>
        <title>
            app read books
        </title>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/jqurey.js"></script>
        <script src="/js/chucnang.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/footer.css" type="text/css" >   
        <link rel="stylesheet" href="/css/template.css" type="text/css" >  
        <link rel="stylesheet" href="/css/body.css" type="text/css" >  
        <link rel="stylesheet" href="/css/DinhDang.css" type="text/css" >  
        <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" > 
        <style>
   #user1:hover #user1-option {
		display: block;
	}
	
	#user1-option {
        display: none;
		margin-left:805px;
		padding-top:4px;
		margin-left: 82%;
	}
	
        </style>
    </head>
    <body>
<div id = "container">
    <!-- header starts here-->
	<!-- HEADER STARTS HERE -->
    <div id="header">
        <div id="header-inner1">
           <div id = "header-inner1-image">
               <div id = "header-inner1-image-inner">
                 <a href="/">  <img src ="https://moki.vn/moki/themes/img/logo_big.png" alt ="Moki.vn - Ứng dụng mua bán trên di động | moki.vn" class = "image" > </a>
               </div>
           </div>
           <div id ="header-inner1-title"> 
               <p> Chào mừng bạn đến với Moki - Trang website bán hàng lớn nhất thế giới!</p> 
           </div>
           <div class = "header1-inner-link">
               <div id="header1-inner-link-inner">
           <div class     ="header-inner-link">
             <ul>
               <li><a href=#>History</a></li>
               <li><a href=#>Events</a></li>
               <li><a href=#>Voucher</a></li>
             </ul>
          </div>
            <div id ="header1-inner-link2">
             <a href="https://www.facebook.com/moki.vn" target="_blank"> <i class = "fa fa-facebook-square"></i></a>
             <a href="https://www.youtube.com/channel/UCM7dLGfHJ6onxoY3StztfwQ/" target="_blank"> <i class = "fa fa-youtube-square"></i></a>
             <a href="https://twitter.com/MOKI_VN" target="_blank"> <i class = "fa fa-twitter"></i></a>
             <a href="https://www.instagram.com/moki.vn/" target="_blank"> <i class = "fa fa-instagram"></i></a>
             <a href="https://www.instagram.com/moki.vn/" target="_blank"> <i class = "fa fa-skype"></i></a>
             <a href="https://www.instagram.com/moki.vn/" target="_blank"> <i class = "fa fa-globe"></i></a>
           </div>
       </div>
           </div>
       </div>
<div id ="header-inner2">
  <div id="header-inner2-search">
   <form action="/search" method="POST" class="header-inner2-form" id="ProductsSearchProductForm" role="search">
       <input class="header-inner2-form-input" type="search" placeholder="Tìm kiếm sản phẩm"  value="" name="product_name" id="product_name" required="">
       <button class="header-inner2-form-button" type="submit">
           <i class="fa fa-search" aria-hidden="true"></i>
           <span class="icon__fallback-text">Tìm kiếm</span>
       </button>
   </form>
 </div>
 <div class = "header-inner2-link">
   <ul>
         <% kq.forEach(function(data){%>
             <li>
                 <a href="/themsanpham" >Thêm sản phẩm </a> 
             </li>
             <li>
                <a href="/befollowList/<%-data.username%>" >Người theo dõi</a>
            </li>
            <li>
               <a href="/followList/<%-data.username%>" >Theo dõi</a>
           </li>
            <li>
                  <a href="/likeList/<%-data.username%>" >Đã thích</a>
              </li>
         <li>
                 <a href="/logout">Đăng xuất</a>
             </li>
             <li>
               <span id = "info-main">
               <a id = "user"><i class="fa fa-user"></i>Hello: <%- data.name%></a>
               <div id="user-option">
              <p><a href="/user/changePassword">Thay đổi mật khẩu</a></p>
              <p><a href="/userinformation/<%-data.username%>">Thông tin tài khoản</a></p>
               </div>
            </span>
           </li>
             <%})%>
   </ul>
 </div>
</div>
    </div>
               <!-- HEADER ENDS HERE -->
<div id ="container_inner">
    <!-- nav starts here-->
<div id="container_inner_nav">
<div id="container_inner_nav-inner">
<% include template/nav %>
</div>
</div>
    <!-- content starts here -->
<div id = "container_inner_content">
<div id ="container_inner_content-inner">


    <div class="title-sp">
       Thông tin tài khoản của bạn
      </div><hr>
      <div  id =" thongtin">
                    <% if(kq.length==0){%>
                     <h2>Không tìm thấy sản phẩm </h2>
                      
                  <% } else {  kq.forEach((data)=>{%>
                      <span class ="ten" id = "ten-1"><b>Họ và tên:</b> <i class="maininfo"><%= data.name%></i></span><hr>
                        <span class ="ten" id = "ten-1"><b>Tài khoản: </b><i class="maininfo"><%= data.username%></i></span><hr>
                       <span class ="gia" id = "gia-1" style="color:#000;"><b>Email:</b> <i class="maininfo"><%= data.email%></i></span><hr>   
                 
                       <span class ="sdt" id = "sdt-1" style="color:#000;"><b>Số điện thoại:</b> <i class="maininfo1"><%= data.PhoneNumber%></i></span><hr> 
                       
                        <button id="modifier-user"><a href="/user/modifier/<%-data.username%>">Chỉnh sửa thông tin</a> </button>
                        <% })} %>
      </div>


</div>
</div>
</div>
    <!-- footer starts here-->
<div id = "container_inner_footer">
<% include template/footer %>
</div>
</div>
<% include template/body2 %>

